@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-input {
    box-shadow: 0px 2px 5px 0px #0000001A;
}

.shadow-block {
    box-shadow: 0px 6px 10px 0px #00000005;
    box-shadow: 0px 20px 30px 0px #0000000A;
}
